/*
 浮动、清楚浮动
 */
/*
 flex  弹性布局
 * */
/*----- 可见度 -----*/
/*
 溢出 隐藏
 * */
/*
 边框 阴影
 * */
/*
 圆角
 * */
/*
 过渡时间
 transform  过渡
 duration  持续、持续时间
 delay  延期、延时
 origin 原点、起源
 * */
/*----- 2D转换 -----*/
/*
常用 渐变
 * */
html,
body {
  background-color: white;
}
article {
  background-color: #fe1451;
}
article {
  padding-bottom: 0.2rem;
}
.header {
  position: relative;
}
.header .header-bg {
  min-height: 0.645rem;
}
.header .water-drop {
  display: block;
  width: 30%;
  height: auto;
  position: absolute;
  top: 47%;
  top: 3.2rem;
  left: 0%;
  z-index: 2;
}
.header .active-time {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0 auto;
  z-index: 3;
}
.header .active-time span {
  display: inline-block;
  font-size: 0.26rem;
  min-width: 53%;
  padding: 0.15rem  0.4rem 0.05rem;
  color: white;
  -webkit-text-shadow: 2px 2px 4px #999;
  -ms-text-shadow: 2px 2px 4px #999;
  text-shadow: 2px 2px 4px #999;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  background: #13e2fa;
  background: -moz-linear-gradient(left, #13e2fa, #24fda1);
  background: -webkit-gradient(linear, 30% 50%, 100% 50%, from(#13e2fa), to(#24fda1));
  background: -o-linear-gradient(left, #13e2fa, #24fda1);
}
.header .active-time span time {
  line-height: 2;
}
.header + .section {
  margin-top: -1.9rem;
}
.section {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto 0.2rem;
  color: white;
  font-size: 0.28rem;
  background-color: #4700e1;
  border-bottom: 2px solid #5d04bc;
  padding-bottom: 0.05rem;
}
.section,
.section .embellish-one,
.section .embellish-two {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.section .embellish-one {
  border: 0.02rem solid #a706f5;
  padding: 0.05rem 0.08rem;
}
.section .embellish-two {
  border: 0.03rem solid #f1e2fd;
  background-color: #a100f8;
  padding: 0.2rem 0.4rem;
}
.section header {
  text-align: center;
  font-weight: 600;
  font-size: 0.35rem;
}
.section p {
  line-height: 2;
}
.footer {
  padding: 0.2rem;
  color: white;
  font-size: 0.24rem;
  width: 86%;
  margin: 0 auto;
}
.footer p {
  margin-bottom: 0;
}
.footer ul {
  list-style-type: decimal;
  list-style-position: inside;
  line-height: 2;
}
