/*
 浮动、清楚浮动
 */
/*
 flex  弹性布局
 * */
/*----- 可见度 -----*/
/*
 溢出 隐藏
 * */
/*
 边框 阴影
 * */
/*
 圆角
 * */
/*
 过渡时间
 transform  过渡
 duration  持续、持续时间
 delay  延期、延时
 origin 原点、起源
 * */
/*----- 2D转换 -----*/
/*
常用 渐变
 * */
body {
  background-color: white;
}
p {
  margin: 0 auto;
}
section {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  padding-bottom: 0.2rem;
  *zoom: 1;
}
section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main-bg {
  position: relative;
  z-index: 0;
}
.page {
  min-height: 22.7rem;
  position: relative;
  background-image: url(img/bg.jpg);
}
.page,
.title,
.info {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.person {
  position: relative;
  z-index: 2;
  width: 3.45rem;
  float: right;
}
.title {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: block;
  width: 100%;
  height: 0.76rem;
  line-height: 0.78rem;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 0.24rem;
  background-image: url(img/bg_title.png);
}
.info {
  font-size: 0.24rem;
  position: absolute;
  bottom: 0.66rem;
  left: 0.1rem;
  z-index: 1;
  display: block;
  width: 2.8rem;
  height: 2rem;
  padding: 0.3rem 0 0;
  text-align: center;
  color: #b2773d;
  background-image: url(img/bg01.png);
}
.info p,
.info small {
  display: inline-block;
  text-align: justify;
  justify: inter-ideograph;
}
.info p + p {
  font-size: 0.28rem;
}
section:nth-child(2n) .person {
  float: left;
}
section:nth-child(2n) .info {
  left: auto;
  right: 0rem;
}
.box01 {
  padding-top: 4.3rem;
}
.box02 {
  padding-top: 0.6rem;
}
.box03 {
  padding-top: 0.6rem;
}
.box04 {
  padding-top: 0.6rem;
}
